Repository requests-cache/requests-cache, pull requests merged in 2022-05, with the labels that each got.

#624 Additional options for revalidation and removing old responses
  .all-contributorsrc
  .pre-commit-config.yaml
  CONTRIBUTORS.md
  HISTORY.md
  docs/user_guide/expiration.md
  poetry.lock
  requests_cache/backends/base.py
  requests_cache/backends/sqlite.py
  requests_cache/models/response.py
  requests_cache/policy/actions.py
  requests_cache/policy/expiration.py
  requests_cache/policy/settings.py
  requests_cache/session.py
  tests/integration/base_cache_test.py
  tests/unit/test_session.py
Labels: bug, cache-control

#626 (0.9) Add compatibility with cattrs 22.1
  .gitignore
  HISTORY.md
  poetry.lock
  pyproject.toml
  requests_cache/serializers/preconf.py
Labels: dependencies

#630 use https for links
  CONTRIBUTING.md
  README.md
  docs/conf.py
  docs/user_guide/advanced_requests.md
  docs/user_guide/expiration.md
  docs/user_guide/filtering.md
  docs/user_guide/general.md
  docs/user_guide/inspection.md
  docs/user_guide/matching.md
  examples/basic_patching.py
  examples/basic_sessions.py
  examples/log_requests.py
  examples/url_patterns.py
  examples/vcr.py
  poetry.lock
  requests_cache/backends/sqlite.py
  requests_cache/patcher.py
  requests_cache/session.py
Labels: docs

#634 Update repo links, changelog, and contributors
  .all-contributorsrc
  CONTRIBUTING.md
  CONTRIBUTORS.md
  HISTORY.md
  README.md
  docs/_static/requests-cache-gh-preview.png
  docs/_static/requests-cache-icon.png
  docs/examples.md
  docs/user_guide/backends.md
  docs/user_guide/backends/dynamodb.md
  docs/user_guide/compatibility.md
  docs/user_guide/headers.md
  docs/user_guide/troubleshooting.md
  poetry.lock
  pyproject.toml
  tests/integration/base_cache_test.py
Labels: docs

#635 (0.9) Update repo links
  .all-contributorsrc
  CONTRIBUTING.md
  CONTRIBUTORS.md
  HISTORY.md
  README.md
  docs/examples.md
  docs/user_guide/backends.md
  docs/user_guide/compatibility.md
  docs/user_guide/expiration.md
  docs/user_guide/headers.md
  docs/user_guide/troubleshooting.md
  pyproject.toml
Labels: docs

#637 Add CachedRequest.path_url property
  HISTORY.md
  requests_cache/models/request.py
  tests/unit/models/test_request.py
Labels: bug

#638 (0.9) Add CachedRequest.path_url property
  HISTORY.md
  requests_cache/models/request.py
  tests/unit/models/test_request.py
Labels: bug

#644 Condensed repr for attrs classes
  requests_cache/_utils.py
  requests_cache/models/base.py
  requests_cache/models/raw_response.py
  requests_cache/models/request.py
  requests_cache/models/response.py
  requests_cache/policy/actions.py
  requests_cache/policy/directives.py
  requests_cache/policy/settings.py
  tests/integration/test_compat.py
  tests/unit/models/test_base.py
  tests/unit/test_serializers.py
Labels: enhancement
