Repository requests-cache/requests-cache, pull requests merged in 2022-04, with the labels that each got.

#555 Refactor cache policy and settings
  .all-contributorsrc
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .gitignore
  CONTRIBUTORS.md
  HISTORY.md
  docs/_templates/module.rst_t
  docs/conf.py
  docs/examples.md
  docs/reference.md
  docs/user_guide/advanced_requests.md
  docs/user_guide/expiration.md
  docs/user_guide/general.md
  docs/user_guide/headers.md
  examples/external_config.py
  examples/external_config.yml
  poetry.lock
  pyproject.toml
  requests_cache/__init__.py
  requests_cache/_utils.py
  requests_cache/backends/__init__.py
  requests_cache/backends/base.py
  requests_cache/cache_control.py
  requests_cache/cache_keys.py
  requests_cache/expiration.py
  requests_cache/models/response.py
  requests_cache/patcher.py
  requests_cache/serializers/__init__.py
  requests_cache/session.py
  requests_cache/settings.py
  tests/conftest.py
  tests/integration/base_cache_test.py
  tests/unit/test_cache_control.py
  tests/unit/test_expiration.py
  tests/unit/test_session.py
Labels: enhancement, docs, logistics

#565 wal mode
  requests_cache/backends/sqlite.py
Labels: enhancement

#568 Revise behavior for refresh, force_refresh, and DO_NOT_CACHE
  .pre-commit-config.yaml
  HISTORY.md
  docs/user_guide/expiration.md
  docs/user_guide/filtering.md
  examples/url_patterns.py
  requests_cache/__init__.py
  requests_cache/_utils.py
  requests_cache/backends/base.py
  requests_cache/cache_control.py
  requests_cache/expiration.py
  requests_cache/session.py
  requests_cache/settings.py
  tests/conftest.py
  tests/unit/test_cache_control.py
  tests/unit/test_expiration.py
  tests/unit/test_patcher.py
  tests/unit/test_session.py
Labels: bug, enhancement, docs, cache-control

#574 Ignore and redact some common authentication headers and parameters by default
  HISTORY.md
  docs/user_guide/security.md
  requests_cache/cache_keys.py
  requests_cache/session.py
  requests_cache/settings.py
  tests/unit/test_session.py
Labels: enhancement, security

#573 Improve performance for cache eviction in SQLite backend
  HISTORY.md
  examples/generate_test_db.py
  requests_cache/backends/base.py
  requests_cache/backends/sqlite.py
  tests/integration/test_sqlite.py
  tests/unit/test_patcher.py
  tests/unit/test_session.py
Labels: performance, backends

#584 Improvements for MongoDB backend
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  HISTORY.md
  README.md
  docs/_static/mongodb_vscode.png
  docs/user_guide/expiration.md
  noxfile.py
  requests_cache/backends/base.py
  requests_cache/backends/dynamodb.py
  requests_cache/backends/mongodb.py
  requests_cache/backends/redis.py
  requests_cache/cache_keys.py
  requests_cache/models/response.py
  requests_cache/patcher.py
  requests_cache/serializers/__init__.py
  requests_cache/serializers/cattrs.py
  requests_cache/serializers/pipeline.py
  requests_cache/serializers/preconf.py
  tests/integration/base_cache_test.py
  tests/integration/base_storage_test.py
  tests/integration/test_dynamodb.py
  tests/integration/test_mongodb.py
  tests/unit/test_cache_keys.py
  tests/unit/test_session.py
Labels: enhancement, backends, serialization

#585 Move backend docs from rST docstings to MyST markdown files in user guide
  CONTRIBUTING.md
  docs/_static/memory_32px.png
  docs/api/requests_cache.session.md
  docs/conf.py
  docs/reference.md
  docs/session.rst
  docs/user_guide/backends.md
  docs/user_guide/backends/dynamodb.md
  docs/user_guide/backends/filesystem.md
  docs/user_guide/backends/gridfs.md
  docs/user_guide/backends/mongodb.md
  docs/user_guide/backends/redis.md
  docs/user_guide/backends/sqlite.md
  docs/user_guide/installation.md
  poetry.lock
  pyproject.toml
  requests_cache/backends/__init__.py
  requests_cache/backends/base.py
  requests_cache/backends/dynamodb.py
  requests_cache/backends/filesystem.py
  requests_cache/backends/gridfs.py
  requests_cache/backends/mongodb.py
  requests_cache/backends/redis.py
  requests_cache/backends/sqlite.py
  requests_cache/session.py
Labels: docs

#587 Add CacheDirectives class and move all cache policy-related modules under a new 'policy' subpackage
  HISTORY.md
  docs/reference.md
  pyproject.toml
  requests_cache/__init__.py
  requests_cache/backends/base.py
  requests_cache/backends/mongodb.py
  requests_cache/backends/sqlite.py
  requests_cache/cache_keys.py
  requests_cache/models/response.py
  requests_cache/patcher.py
  requests_cache/policy/__init__.py
  requests_cache/policy/actions.py
  requests_cache/policy/directives.py
  requests_cache/policy/expiration.py
  requests_cache/policy/settings.py
  requests_cache/serializers/__init__.py
  requests_cache/session.py
  tests/integration/test_mongodb.py
  tests/unit/policy/test_actions.py
  tests/unit/policy/test_expiration.py
  tests/unit/test_session.py
Labels: logistics, cache-control

#590 Close database connections on contextmanager exit or session.close()
  HISTORY.md
  requests_cache/backends/base.py
  requests_cache/backends/mongodb.py
  requests_cache/backends/redis.py
  requests_cache/session.py
  tests/integration/base_cache_test.py
Labels: enhancement

#591 Add support for Cache-Control: max-stale, min-fresh, and stale-if-error
  HISTORY.md
  docs/user_guide/expiration.md
  docs/user_guide/headers.md
  requests_cache/policy/actions.py
  requests_cache/policy/directives.py
  requests_cache/policy/settings.py
  requests_cache/session.py
  tests/unit/policy/test_actions.py
  tests/unit/test_session.py
Labels: enhancement, cache-control

#593 Improve output for all models when printed or logged with rich
  requests_cache/backends/dynamodb.py
  requests_cache/backends/filesystem.py
  requests_cache/backends/gridfs.py
  requests_cache/backends/mongodb.py
  requests_cache/backends/redis.py
  requests_cache/backends/sqlite.py
  requests_cache/models/__init__.py
  requests_cache/models/base.py
  requests_cache/models/raw_response.py
  requests_cache/models/request.py
  requests_cache/models/response.py
  requests_cache/policy/actions.py
  requests_cache/policy/directives.py
  requests_cache/policy/settings.py
  tests/unit/models/test_base.py
Labels: enhancement

#595 Update some user guide docs
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .pre-commit-config.yaml
  README.md
  docs/user_guide.md
  docs/user_guide/compatibility.md
  docs/user_guide/general.md
  docs/user_guide/headers.md
  noxfile.py
  poetry.lock
  pyproject.toml
Labels: docs

#599 Create DynamoDB default table in On Demand mode, add example CloudFormation template
  .pre-commit-config.yaml
  HISTORY.md
  docs/user_guide/backends/dynamodb.md
  examples/cloudformation.yml
  requests_cache/backends/dynamodb.py
Labels: enhancement, docs, backends

#600 DynamoDB: Add TTL support, and store responses as JSON documents instead of serialized binaries
  HISTORY.md
  docs/_static/dynamodb_items.png
  docs/_static/dynamodb_response.png
  docs/user_guide/backends/dynamodb.md
  docs/user_guide/backends/mongodb.md
  examples/cloudformation.yml
  requests_cache/backends/__init__.py
  requests_cache/backends/dynamodb.py
  requests_cache/backends/mongodb.py
  requests_cache/serializers/__init__.py
  requests_cache/serializers/cattrs.py
  requests_cache/serializers/preconf.py
  tests/conftest.py
  tests/integration/base_cache_test.py
  tests/integration/base_storage_test.py
  tests/integration/test_dynamodb.py
  tests/integration/test_filesystem.py
  tests/integration/test_mongodb.py
Labels: enhancement, performance, backends

#607 Add some misc missing test coverage
  requests_cache/_utils.py
  requests_cache/backends/sqlite.py
  requests_cache/cache_keys.py
  requests_cache/models/raw_response.py
  tests/integration/test_filesystem.py
  tests/unit/models/test_raw_response.py
  tests/unit/models/test_request.py
  tests/unit/test_cache_keys.py
  tests/unit/test_serializers.py
  tests/unit/test_session.py
Labels: tests

#612 Fix parameter forwarding for redis-py 4.2 and pymongo 4.1 on python <=3.8
  HISTORY.md
  poetry.lock
  pyproject.toml
  requests_cache/backends/dynamodb.py
  requests_cache/backends/gridfs.py
  requests_cache/backends/mongodb.py
  requests_cache/backends/redis.py
  tests/integration/test_mongodb.py
Labels: bug, backends

#613 Fix some minor dependency issues, and add tests with no optional dependencies installed
  .github/workflows/deploy.yml
  poetry.lock
  pyproject.toml
  requests_cache/serializers/preconf.py
  tests/conftest.py
  tests/unit/test_serializers.py
Labels: bug, serialization, dependencies

#618 Initialize backend with install_cache() prior to patching requests.Session
  requests_cache/patcher.py
Labels: bug
