Repository requests-cache/requests-cache, pull requests merged in 2025-02, with the labels that each got.

#1052 Issue 1050 limit fs cache
  HISTORY.md
  docs/user_guide/backends/filesystem.md
  requests_cache/backends/filesystem.py
  requests_cache/serializers/__init__.py
  requests_cache/serializers/preconf.py
  tests/integration/base_storage_test.py
  tests/integration/test_filesystem.py
Labels: enhancement, backends

#1045 fix: sqlite write contention
  requests_cache/backends/sqlite.py
  tests/integration/test_sqlite.py
Labels: bug, backends

#1066 Use `SCAN` and `HSCAN` instead of `KEYS`, `HKEYS`, and `HGETALL`
  HISTORY.md
  requests_cache/backends/redis.py
  tests/integration/base_cache_test.py
Labels: bug, performance

#1068 When updating response headers after revalidating a cached response, don't set both `Content-Length` and `Transfer-Encoding`
  HISTORY.md
  requests_cache/policy/actions.py
  requests_cache/serializers/cattrs.py
  tests/unit/policy/test_actions.py
Labels: bug
